## TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
s = 'hello world'
s[::-1]

'dlrow olleh'

2. Check if a string is a palindrome.

In [9]:
s = 'mom'
if s[::-1]==s:
    print('string is palindrome')
else:
    print('string is not palindrome')

string is palindrome

3. Convert a string to uppercase.

In [10]:
s = 'hello world'
s.upper()

'HELLO WORLD'

4. Convert a string to lowercase.

In [11]:
s = 'hello world'
s.lower()

'hello world'

5. Count the number of vowels in a string.

In [69]:
s = 'avichal'
vowels = "aeiou"
count = sum(s.count(vowel) for vowel in vowels)
print(count)

3

In [ ]:
6. Count the number of consonants in a string.

In [1]:
def count_consonants(string):
    
    consonant_count = 0

    
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"


    for char in string:
       
        if char in consonants:
    
            consonant_count += 1


    return consonant_count

input_string = input("Enter a string: ")


result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string:  cvcbcfb

Number of consonants: 7

7. Remove all whitespaces from a string.

In [70]:
s = 'heloo world'
s.replace(' ',"")

'helooworld'

8. Find the length of a string without using the `len()` function.

In [94]:
s1 = 'avichal'
count = 0
for i in s1:
    count = count+1
print(count)

7

9. Check if a string contains a specific word.

In [105]:
s = 'My Name Is AVichal'
if 'Name' in s:
    print('the string contain','Name')
else:
    print("The string does not contain 'Name'")

the string contain Name

10. Replace a word in a string with another word.

In [117]:
s = 'data science'
r=s.replace('data', 'social')
print(r)

social science

11. Count the occurrences of a word in a string.

In [122]:
s = 'avichal'
count=s.count('a')
print(count)

2

In [ ]:
12. Find the first occurrence of a word in a string.

In [2]:
def find_first_occurrence(text, word):
    # Step 1: Find the index of the first occurrence of the word in the text.
    index = text.find(word)

    # Step 2: Check if the index is -1, indicating that the word was not found.
    if index == -1:
        return None  # Return None if the word is not found.

    # Step 3: Return the index of the first occurrence of the word.
    return index

# Example usage
text = "This is an example sentence. This sentence contains the word example."
word = "example"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 11

In [ ]:
13. Find the last occurrence of a word in a string.

In [3]:
def find_last_occurrence(text, word):
    # Step 1: Find the index of the last occurrence of the word in the text.
    index = text.rfind(word)

    # Step 2: Check if the index is -1, indicating that the word was not found.
    if index == -1:
        return None  # Return None if the word is not found.

    # Step 3: Return the index of the last occurrence of the word.
    return index

# Example usage
text = "This is an example sentence. This sentence also contains the word example."
word = "example"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 66

14. Split a string into a list of words.

In [144]:
s = 'polity'
print([*s])

['p', 'o', 'l', 'i', 't', 'y']

In [ ]:
15. Join a list of words into a string.

In [151]:
l = ['a','v','i']
print("".join(l))

avi

In [ ]:
16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [163]:
s = 'my name is avichal'
s.replace(' ' , '-')

'my-name-is-avichal'

In [ ]:
17. Check if a string starts with a specific word or phrase.

In [171]:
s = 'i enrolled in data science'
if 'i enrolled'in s:
    print('the string start with','i enrolled')
else:
    print('the string not start with','i enrolled')

the string start with i enrolled

In [ ]:
18. Check if a string ends with a specific word or phrase.

In [173]:
s = 'i enrolled in data science'
if 'science'in s:
    print('the string end with','science')
else:
    print('the string not end with','science')

the string end with science

In [ ]:
19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [174]:
s1 = 'avichal saxena'
s1.title()

'Avichal Saxena'

In [ ]:
20. Find the longest word in a string.

In [182]:
s = 'i have done my bachlors'
s=s.split()
print(max(s,key=len))

bachlors

In [ ]:
21. Find the shortest word in a string.

In [1]:
s = 'i have done my bachlors'
s=s.split()
print(min(s,key=len))

i

In [ ]:
22. Reverse the order of words in a string.

In [4]:
s= 'words'
s1=s[::-1]
s1

'sdrow'

In [ ]:
23. Check if a string is alphanumeric.

In [19]:
s1 = '123school'
s1.isnumeric()

False

In [ ]:
24. Extract all digits from a string.

In [21]:
S = "1,2,3,4,5"
S[0:90]

'1,2,3,4,5'

In [ ]:
25. Extract all alphabets from a string.

In [22]:
s = 'hello'
s[0:93]

'hello'

In [ ]:
26. Count the number of uppercase letters in a string.

In [13]:
s = 'AVIChal'
count= 0
for i in s:
    if i.isupper():
        count=count+1
print("the no of upper case in string is",count)

the no upper case in string is 4

In [ ]:
27. Count the number of lowercase letters in a string.

In [18]:
s1 = 'AVichal'
count= 0
for i in s1:
    if i.islower():
        count=count+1
print("the no of lower case in string is ",count)

the no of lower case in string is  5

In [ ]:
28. Swap the case of each character in a string.

In [19]:
s = 'hello world'
s.swapcase()

'HELLO WORLD'

In [ ]:
29. Remove a specific word from a string.

In [40]:
s = 'Avichal Saxena'

In [43]:
s1=s.replace('Saxena','')
s1

'Avichal '

In [ ]:
30. Check if a string is a valid email address.

In [56]:
email=input('enter the email')
name = 'avichal'
if email==f'{name}@gmail.com':
    print('email is valid')
else:
    print('email is not valid')

enter the email avichal@gmail.com

email is valid

In [ ]:
31. Extract the username from an email address string.

In [58]:
s = 'avichal@gmail.com'
s1=s[0:7]
print('the user name of email address is',s1)

the user name of email address is avichal

In [ ]:
32. Extract the domain name from an email address string.

In [59]:
s = 'avichal@gmail.com'
s1=s[7:89]
print('the domain name of email address is',s1)

the domain name of email address is @gmail.com

In [ ]:
33. Replace multiple spaces in a string with a single space.

In [77]:
s = 'my  name is avichal    saxena'
s2 = ' '.join(s.split())
print(s2)

my name is avichal saxena

In [ ]:
34. Check if a string is a valid URL.

In [13]:
from urllib.parse import urlparse
def is_validurl(url):
    result = urlparse(url)
    return all ([result.scheme,result.netloc])
    url1= 'https://www.flipkart.com/'
    url2= 'invalid url'
    result1= is_validurl,(url1)
    result2= is_validurl,(url2)
print(result1)
print(result2)

True
False

In [ ]:
35. Extract the protocol (http or https) from a URL string.

In [14]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [ ]:
36. Find the frequency of each character in a string.

In [15]:
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [ ]:
37. Remove all punctuation from a string.

In [24]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [ ]:
38. Check if a string contains only digits.

In [33]:
def contains_only_digits(string):
    return  string.isdigit()  
s1 = '12345'
s2 = 'avichal'
s3 = 'avi'
result1=contains_only_digits(s1)
result2=contains_only_digits(s2)
result3=contains_only_digits(s3)
print(f"'{s1}' contains only digits:", result1)
print(f"'{s2}' contains only digits:", result2)
print(f"'{s3}' contains only digits:", result3)

'12345' contains only digits: True
'avichal' contains only digits: False
'avi' contains only digits: False

In [ ]:
39. Check if a string contains only alphabets.

In [32]:
def contains_only_alpha(string):
    return  string.isalpha()  
s1 = '12345'
s2 = 'avichal'
s3 = 'avi saxena'
result1=contains_only_alpha(s1)
result2=contains_only_alpha(s2)
result3=contains_only_alpha(s3)
print(f"'{s1}' contains only alpha:", result1)
print(f"'{s2}' contains only alpha:", result2)
print(f"'{s3}' contains only alpha:", result3)

'12345' contains only alpha: False
'avichal' contains only alpha: True
'avi saxena' contains only alpha: False

In [ ]:
40. Convert a string to a list of characters.

In [62]:
S = 'AVICHAL'
list(S)

['A', 'V', 'I', 'C', 'H', 'A', 'L']

In [ ]:
41 Check if two strings are anagrams.

In [67]:
s1 = 'avichal'
s2 = 'lahciva'
sort1= sorted(s1)
sort2=sorted(s2)
if sort1==sort2:
    print('they are anagram')
else:
    print('no anagram')

they are anagram

In [ ]:
41. Check if two strings are anagrams.

In [36]:
def sort(string1,string2):
    string1.replace(" ","").lower()
    string2.replace(' ','' ).lower()
    return srting1.sorted==string.sorted

str1='listen'
str2='silent'
str3='hello'
str4= 'world'
result1 = are_anagrams(str1, str2)
result2 = are_anagrams(str3, str4)

# Print the results
print(f"'{str1}' and '{str2}' are anagrams:", result1)
print(f"'{str3}' and '{str4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [ ]:
42. Encode a string using a Caesar cipher

In [47]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

# Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [ ]:
43. Decode a Caesar cipher encoded string.

In [48]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [ ]:
44. Find the most frequent word in a string

In [51]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]




    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [ ]:
45. Find all unique words in a string.

In [52]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'world', 'the', 'hows', 'there', 'hello'}

In [ ]:
46. Count the number of syllables in a string.

In [53]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [ ]:
47. Check if a string contains any special characters.

In [54]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [ ]:
48. Remove the nth word from a string.

In [55]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [ ]:
50. Convert a CSV string to a list of lists.

In [56]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

## List Based Practice Problem :

In [ ]:
1. Create a list with integers from 1 to 10.

In [1]:
l = [1,2,3,4,5,6,7,8,9,10]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
2. Find the length of a list without using the `len()` function.

In [2]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
count = 0
for i in l:
    count=count+1
print('the length of the list is ',count)

the length of the list is  10

In [ ]:
3. Append an element to the end of a list.

In [16]:
l23=[1,2,3,5]
l24=l.append(6)

In [17]:
l24

4. Insert an element at a specific index in a list.

In [5]:
l =[1,2,3,4,5,6]
l.insert(2,'avi')

In [6]:
l

[1, 2, 'avi', 3, 4, 5, 6]

In [ ]:
5. Remove an element from a list by its value.

In [18]:
l=[1,2,34,4,5,6,7]
l.remove(34)

In [19]:
l

[1, 2, 4, 5, 6, 7]

In [ ]:
6. Remove an element from a list by its index.

In [20]:
l

[1, 2, 4, 5, 6, 7]

In [21]:
l.pop(0)

1

In [22]:
l

[2, 4, 5, 6, 7]

In [ ]:
7. Check if an element exists in a list.

In [23]:
l = [1,2,3,4,5,6,7]

In [30]:
a = 1
if a in l:
    print('exist')
else:
    print('not exists')

exist

In [ ]:
8. Find the index of the first occurrence of an element in a list.

In [31]:
l =[1,2,3,6,7]
l[0]

1

In [ ]:
9. Count the occurrences of an element in a list.

In [33]:
l = [1,1,1,3,3,4,5]
l.count(3)

2

In [ ]:
10. Reverse the order of elements in a list.

In [34]:
l

[1, 1, 1, 3, 3, 4, 5]

In [35]:
l[::-1]

[5, 4, 3, 3, 1, 1, 1]

In [ ]:
11. Sort a list in ascending order.

In [42]:
l2=[22,4454,5,56565,5,6,56,5]

In [43]:
l2.sort()

In [44]:
l2

[5, 5, 5, 6, 22, 56, 4454, 56565]

In [ ]:
12. Sort a list in descending order.

In [45]:
l2

[5, 5, 5, 6, 22, 56, 4454, 56565]

In [46]:
l2.sort(reverse=True)

In [47]:
l2

[56565, 4454, 56, 22, 6, 5, 5, 5]

In [ ]:
13. Create a list of even numbers from 1 to 20.

In [52]:
l2=[]
for i in range(0,21):
    if i%2==0:
        l2.append(i)
print(l2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [53]:
l2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
14. Create a list of odd numbers from 1 to 20.

In [54]:
l3=[]
for i in range(0,21):
    if i%2!=0:
        l3.append(i)
print(l3)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [55]:
l3

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
15. Find the sum of all elements in a list.

In [56]:
l = [1,2,3,4,5,6,7]
sum(l)

28

In [ ]:
16. Find the maximum value in a list.

In [57]:
l = [1,2,3,4,5,6]
max(l)

6

In [ ]:
17. Find the minimum value in a list.

In [58]:
l

[1, 2, 3, 4, 5, 6]

In [59]:
min(l)

1

In [ ]:
18. Create a list of squares of numbers from 1 to 10.

In [62]:
import numpy as np
l3 = [1,2,3,4,5,6,7,8,9,10] 
list(np.square(l3))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
19. Create a list of random numbers.

In [19]:

l2=[]
for i in range(0,10):
    l2.append(i)
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
20. Remove duplicates from a list.

In [20]:
l =[11,2,3,3,4,5,5]

In [22]:
l2=set(l)

In [23]:
list(l2)

[2, 3, 4, 5, 11]

In [ ]:
21. Find the common elements between two lists.

In [5]:
a =[1,2,3,4,5]
b=[1,2,55,665,5]

In [7]:
c = [value for value in a if value in b] 
print(c)

[1, 2, 5]

In [ ]:
22 Find the difference between two lists..

In [61]:
a = [1,2,3,4,5,6]
b = [1,2,3,3,4]

In [62]:
c=[]
for element in a:
    if element not in b:
        c.append(element)
print(c)

[5, 6]

23. Merge two lists.

In [15]:
l = [1,2,3,4]
l2 =[1,2,3]

In [16]:
l+l2

[1, 2, 3, 4, 1, 2, 3]

In [ ]:
24. Multiply all elements in a list by 2.

In [24]:

a = [1,2,3,4]
list(map(lambda x : x*2 ,a))

[2, 4, 6, 8]

In [ ]:
25. Filter out all even numbers from a list.

In [56]:
l =[1,2,3,4,5,6]
for i in l:
    if i%2==0:
        print(i)

2
4
6

In [ ]:
26. Convert a list of strings to a list of integers.

In [65]:
list =['1','2','3','3']
for i in range(0,len(list)):
    l[i]=int(list[i])
print(l)

[1, 2, 3, 3]

In [ ]:
27. Convert a list of integers to a list of strings.

In [109]:
l =[1,2,3,4,5,6]
for i in range(0,len(l)):
    l[i]= str(l[i])
print(l)

['1', '2', '3', '4', '5', '6']

In [ ]:
28. Flatten a nested list.

In [5]:
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
flat_list=[]
for element in lis:
    if type(element) is list:
        for item in element:
            flat_list.append(item)
    else:
        flat_list.append(element)
print(flat_list)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [ ]:
30. Check if a list is sorted.

In [27]:
list1 = [3,4,5]
if list1==sorted(list1):
    print('the list is sorted')
else:
    print('list is not sorted')

the list is sorted

In [ ]:
31 Rotate a list to the left by 3 positions.

In [30]:
l = [1,2,3,4,5]
l[3:] + l[:3]

[4, 5, 1, 2, 3]

In [ ]:
32. Rotate a list to the right by 3 positions.

In [31]:
l[-3:] + l[:-3]

[3, 4, 5, 1, 2]

In [ ]:
50. Swap two elements in a list by their indices.

In [1]:
l = [1,2,3,4,5]

In [7]:
l[0],l[1]=2,1
l

[2, 1, 2, 3, 4, 5]

In [ ]:
47. Find the shortest string in a list of strings.

In [32]:
s=['my', 'name', 'is']
s2=min(s,key=len)
print('the shortest string in a list of strings is',s2)

the shortest string in a list of strings is my

In [ ]:
46. Find the longest string in a list of strings.

In [35]:
l = ['hello', 'avichal']
s3=max(l,key=len)
print('the longest string in a list of strings is  ' '',s3)

the longest string in a list of strings is   avichal

In [ ]:
43. Convert a string into a list of words.

In [54]:
s ='avichal'
l1=[*s]
l1

['a', 'v', 'i', 'c', 'h', 'a', 'l']

In [ ]:
44. Convert a list of words into a string.

In [67]:
l = ['a','v','i']
l1= ("".join(l))
l1

'avi'

In [ ]:
42. Replace negative numbers in a list with 0.

In [109]:
old_list = [1,-3,4,5,-7,-9]
new_list=list(map(lambda x :0 if x<0 else x,old_list))
print('old_list',old_list)
print('new_list',new_list)

old_list [1, -3, 4, 5, -7, -9]
new_list [1, 0, 4, 5, 0, 0]

In [ ]:
41. Remove all elements from a list.

In [113]:
l = [1,2,3,4,5]

In [114]:
del l[0:6]

In [115]:
l

[]

In [ ]:
39 Create a list of the first 10 factorial numbers.

In [147]:
l =[1,2,3,4,5,6,7,8,9,10]
fact = 1
for i in l:
    for j in range(1,i+1):
        fact=fact*j
    print("Factorial of", j, "is", fact)

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 12
Factorial of 4 is 288
Factorial of 5 is 34560
Factorial of 6 is 24883200
Factorial of 7 is 125411328000
Factorial of 8 is 5056584744960000
Factorial of 9 is 1834933472251084800000
Factorial of 10 is 6658606584104736522240000000

In [ ]:
36. Replace every element in a list with its square.

In [149]:
l =[2,3,4,5,6,7]
l2=list(map(lambda x: x*2,l))
print('the original_list',l)
print('square_list',l2)

the original_list [2, 3, 4, 5, 6, 7]
square_list [4, 6, 8, 10, 12, 14]

In [ ]:
34. Split a list into chunks of size n.

In [57]:
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
35. Find the second largest number in a list.

In [61]:
l =[12,34,54,46,6,56]
sort=sorted(set(l))
if len(sort)>=2:
    second_largest=sort[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 54

In [ ]:
37. Convert a list to a dictionary where list elements become keys and their indices become values

In [70]:
l = ['apple11','mi','nokia']
d ={price:index for index, price in enumerate(l)}
print(d)

{'apple11': 0, 'mi': 1, 'nokia': 2}

In [ ]:
38. Shuffle the elements of a list randomly.

In [73]:
import random
l = [23,445,56,77,454,454,545]
l2=random.shuffle(l)
print(l)

[454, 77, 56, 454, 545, 445, 23]

In [ ]:
45 Create a list of the first n powers of 2.

In [77]:
n =10
l = [2**i for i in range(n)]
print("List of the first", n, "powers of 2:", l)

List of the first 10 powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
48. Create a list of the first n triangular numbers.

In [78]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [ ]:
49. Check if a list contains another list as a subsequence.

In [79]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

## Set Based Practice Problem :

In [ ]:
1. Create a set with integers from 1 to 5.

In [153]:
set1= {1,2,3,4,5}

In [ ]:
2. Add an element to a set.

In [155]:
set1

{1, 2, 3, 4, 5}

In [157]:
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
3. Remove an element from a set.

In [167]:
set1

{3, 4, 5, 6}

In [171]:
set1.remove(3)
set1

{4, 5, 6}

In [ ]:
4. Check if an element exists in a set.

In [175]:
a = {1,2,3,4,5}
if 4 in a:
    print('element exist')
else:
    print('element not exist')

element exist

In [ ]:
5. Find the length of a set without using the `len()` function.

In [179]:
set2={1,2,3,4,5,6}

In [180]:
count =0
for i in set2:
    count= count+1
print(count)

6

In [ ]:
6. Clear all elements from a set.

In [181]:
set2

{1, 2, 3, 4, 5, 6}

In [184]:
set2.clear()
set2

set()

In [ ]:
7. Create a set of even numbers from 1 to 10.

In [34]:
s ={1,2,3,4,5,6,7,8,9,10}

In [42]:
s1=set(filter(lambda x : x%2==0 ,s))
s1

{2, 4, 6, 8, 10}

In [ ]:
8. Create a set of odd numbers from 1 to 10.

In [45]:
s={1,2,3,4,5,6,7,8,9,10}
s2=set(filter(lambda x : x%2!=0,s))
s2

{1, 3, 5, 7, 9}

In [ ]:
9. Find the union of two sets.

In [48]:
s1={1,2,3,4,5}
s2={6,7,8,9,5}
s3=s1.union(s2)
s3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
10. Find the intersection of two sets.

In [52]:
s1={1,2,3,4,5}
s2={6,7,8,9,5,3}
s4=s1.intersection(s2)
s4

{3, 5}

In [ ]:
11. Find the difference between two sets.

In [55]:
s1={1,2,3,4,5}
s2={6,7,8,9,5,3}
s3=s1.difference(s2)
s3

{1, 2, 4}

In [ ]:
12. Check if a set is a subset of another set.

In [64]:
s1={1,2,3,4,6}
s2={6,7,8,9,5,3}
s3=s1.issubset(s2)
s3

False

In [ ]:
13. Check if a set is a superset of another set.

In [67]:
s1={1,2,3,4,6}
s2={1,2,3,4,6}
s3=s1.issuperset(s2)
s3

True

In [ ]:
14. Create a set from a list.

In [69]:
l = [1,2,3,4,5]
s1=set(l)
s1

{1, 2, 3, 4, 5}

In [ ]:
15. Convert a set to a list.

In [71]:
set={1,2,3,4}
l=list(set)
l

[1, 2, 3, 4]

In [ ]:
16. Remove a random element from a set.

In [72]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [74]:
s.pop()

2

In [ ]:
17. Pop an element from a set.

In [77]:
s

{3, 4, 5, 6, 7, 8, 9, 10}

In [78]:
s.pop()

3

In [ ]:
18. Check if two sets have no elements in common.

In [57]:
s ={1,2,3,4,5}
s1 = {33,33,555,55}

In [58]:
s.issubset(s1)

False

In [ ]:
19. Find the symmetric difference between two sets.

In [101]:
s ={1,2,3,4,5}
s1 = {33,33,555,55}
s2=s.symmetric_difference(s1)
s2

{1, 2, 3, 4, 5, 33, 55, 555}

In [ ]:
20. Update a set with elements from another set.

In [6]:
s ={1,2,3,4,5}
s1 = {2,1,3,6,8}
s.update(s1)
print('updated set',s)

updated set {1, 2, 3, 4, 5, 6, 8}

In [ ]:
21. Create a set of the first 5 prime numbers.

In [41]:
s = {0,1,2,3,4,5,6,7,8,10,11}
s1=set(filter(lambda x : x%2!=0 ,s))
s1

{1, 3, 5, 7, 11}

In [ ]:
22. Check if two sets are identical.

In [46]:
s = {1,2,3,4,5,6}
s1 = {1,2,3,4,5}
s2=s.intersection(s1)
s2

{1, 2, 3, 4, 5}

In [88]:
def test():
    if set(s) and set(s1):
        s2=s.issubset(s1)
        return True
    else:
        return False

In [89]:
test()

True

In [ ]:
23. Create a frozen set.

In [93]:
s1=frozenset({1,2,3,4,5})
s1

frozenset({1, 2, 3, 4, 5})

In [ ]:
24. Check if a set is disjoint with another set.

In [115]:
s = {1,2,23,45,56}
s1 = {1,2,23,45,56}
def test():
    if set(s) and set(s1):
        s2=s.isdisjoint(s1)
        print(s2)

    else:
        return False
print(test())

False
None

In [ ]:
25. Create a set of squares of numbers from 1 to 5.

In [118]:
s = {1,2,3,4,5}
s1=set(map(lambda x : x**2 ,s))
print('the square of set is :' '',s1)

the square of set is : {1, 4, 9, 16, 25}

In [ ]:
26. Filter out all even numbers from a set.

In [123]:
s = {1,2,3,3,4,5,6,6676,3,4,35,5343}
s1=set(filter(lambda x : x%2==0,s))
print('all even numbers from a set: ' ' ',s1)

all even numbers from a set:   {2, 4, 6676, 6}

In [ ]:
27. Multiply all elements in a set by 2.

In [125]:
s ={1,2,3,4,5}
def test(a):
    return a*2
s1=set(map(test,s))
print(s1)

{2, 4, 6, 8, 10}

In [ ]:
29. Check if a set is empty.

In [158]:
s ={}
if not s:
    print('set is empty')
else:
    print('set is no empty')

set is empty

In [ ]:
30. Create a nested set (hint: use frozenset).

In [170]:
s1=set([frozenset({1,2,3}),frozenset({4,4,6})])
s1

{frozenset({1, 2, 3}), frozenset({4, 6})}

In [ ]:
31. Remove an element from a set using the discard method.

In [180]:
s={1,2,3,4,5,7}
s1=s.discard(2)
s1

In [ ]:
32. Compare two sets.

In [5]:
s = {1,2,3,4,5}
s1 = {1,2,3,4,5}
s3=set(s)==set(s1)
s3

True

In [ ]:
33. Create a set from a string.

In [11]:
s = "this is my string"
s1=set(s)
s1

{' ', 'g', 'h', 'i', 'm', 'n', 'r', 's', 't', 'y'}

In [ ]:
34. Convert a set of strings to a set of integers.

In [ ]:
35. Convert a set of integers to a set of strings.

In [50]:
s = {1,2,3,4}
s1=str(s)
s1

'{1, 2, 3, 4}'

In [ ]:
36. Create a set from a tuple.

In [53]:
t = (1,2,3,4)
t2=set(t)
t2

{1, 2, 3, 4}

In [ ]:
37. Convert a set to a tuple.

In [56]:
s1 = {1,2,3,4}

s2=tuple(s1)
s2

(1, 2, 3, 4)

In [ ]:
38. Find the maximum value in a set.

In [59]:
s1 = {12,3,4,5,43545,5,6,65}
s3=max(s1)
s3

43545

In [ ]:
39. Find the minimum value in a set.

In [61]:
s1 = {12,3,4,5,43545,5,6,65}
s2=min(s1)
s2

3

In [ ]:
40. Create a set from user input.

In [64]:
s1=set(input('enter the int'))
s1

enter the int 673482

{'2', '3', '4', '6', '7', '8'}

In [ ]:
41. Check if the intersection of two sets is empty.

In [83]:
s ={14,24,34,44,89}
s1 ={514,254,345,445,895}
s3=s.intersection(s1)
s3

set()

In [ ]:
43. Remove duplicates from a list using sets.

In [14]:
l = {1,1,1,3,3,3,55,66,77,77,745,456}
s1=set(l)
s2=list(s1)
s2

[1, 66, 3, 55, 456, 745, 77]

In [ ]:
44. Check if two sets have the same elements, regardless of their count.

In [16]:
s = {1,2,3,4,5,6}
s1 = {22,2,1,3,5,2}
s.intersection(s1)

{1, 2, 3, 5}

In [ ]:
45. Create a set of the first `n` powers of 2.

In [80]:
n = 5
s1={i**2 for i in range(n)}
s1

{0, 1, 4, 9, 16}

In [ ]:
46. Find the common elements between a set and a list.

In [83]:
s1={1,2,3,4,5,6,7}
l = [22,1,2,3,54,45,5]
l2=set(l)
common_element=[]
for element in s1:
    if element in l2:
        common_element.append(element)
print('common_element',common_element)

common_element [1, 2, 3, 5]

In [ ]:
48. Check if a set contains another set as a subset.

In [84]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [ ]:
50. Merge multiple sets into one.

In [19]:
s = {1,2,3}
s1 = {4,5,6}
s.union(s1)

{1, 2, 3, 4, 5, 6}

## Tuple Based Practice Problem :

In [ ]:
1. Create a tuple with integers from 1 to 5.

In [21]:
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [ ]:
2. Access the third element of a tuple.

In [24]:
t = (1,2,3,4,5)
t[2]

3

In [ ]:
3. Find the length of a tuple without using the `len()` function.

In [25]:
s ={1,2,3,4,5}
count = 0
for i in s:
    count=count+1
print(count)

5

In [ ]:
4. Count the occurrences of an element in a tuple.

In [27]:
t=(1,1,2,2,3,4)

In [29]:
t.count(1)

2

In [ ]:
5. Find the index of the first occurrence of an element in a tuple.

In [30]:
t = (1,2,3,4,5,)
t[0]

1

In [ ]:
6. Check if an element exists in a tuple.

In [34]:
t = (1,2,3,4)
if 1 in t:
    print('available')
else:
    print('not available')

available

In [ ]:
7. Convert a tuple to a list.

In [35]:
t = (1,2,3,4,5)
list(t)

[1, 2, 3, 4, 5]

In [ ]:
8. Convert a list to a tuple.

In [36]:
l =[2,3,4,5]
tuple(l)

(2, 3, 4, 5)

In [ ]:
9. Unpack the elements of a tuple into variables.

In [38]:
t = 1,2,3,"avichal",78
type(t)

tuple

In [ ]:
10. Create a tuple of even numbers from 1 to 10.

In [44]:
l=[]
for i in range(0,10,2):
    l.append(i)
tuple(l)

(0, 2, 4, 6, 8)

In [ ]:
11. Create a tuple of odd numbers from 1 to 10.

In [45]:
t = (1,2,3,4,5,6,7,8,9,10)
tuple(filter(lambda x : x%2!=0 , t))

(1, 3, 5, 7, 9)

In [ ]:
12. Concatenate two tuples.

In [46]:
t= (1,2,3,4,5)
t1 = (2,3,4,5,5)
t+t1

(1, 2, 3, 4, 5, 2, 3, 4, 5, 5)

In [ ]:
13. Repeat a tuple three times.

In [49]:
t*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
14. Check if a tuple is empty.

In [74]:
t =()
if not t:
    print('empty')
else:
    print(t)

empty

In [ ]:
15. Create a nested tuple.

In [78]:
t = (1,2,3,4,('avichal'),45,56,(12,34,5))
t

(1, 2, 3, 4, 'avichal', 45, 56, (12, 34, 5))

In [ ]:
16. Access the first element of a nested tuple.

In [79]:
t

(1, 2, 3, 4, 'avichal', 45, 56, (12, 34, 5))

In [80]:
t[0]

1

In [ ]:
17. Create a tuple with a single element.

In [81]:
t =(1)

In [82]:
t

1

In [ ]:
18. Compare two tuples.

In [87]:
t = (3,4,5,6,6)
t1 = (3,4,5,6,6)
t3= t==t1
t3

True

In [ ]:
19. Delete a tuple.

In [89]:
del t

In [ ]:
20. Slice a tuple.

In [90]:
t = (1,2,3,4,5)
t[0:6:2]

(1, 3, 5)

In [ ]:
21. Find the maximum value in a tuple.

In [91]:
t

(1, 2, 3, 4, 5)

In [92]:
max(t)

5

In [ ]:
22. Find the minimum value in a tuple.

In [93]:
t

(1, 2, 3, 4, 5)

In [94]:
min(t)

1

In [ ]:
23. Convert a string to a tuple of characters.

In [98]:
s = "hello world"
s1=tuple(s)
s1

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [ ]:
24. Convert a tuple of characters to a string.

In [99]:
s1

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [100]:
str(s1)

"('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')"

In [ ]:
25. Create a tuple from multiple data types.

In [102]:
t = (1,2,3,"avi",[1,2,3,4],{1,2,3,4},{'key':'values'})
t

(1, 2, 3, 'avi', [1, 2, 3, 4], {1, 2, 3, 4}, {'key': 'values'})

In [ ]:
26. Check if two tuples are identical.

In [9]:
t = (1,2,3,4,5)
t2 = (1,2,3,4,5)
if t[0:20]==t2[0:20]:
    print('tuple is identical')
else:
    print('tuple is not identical')

tuple is identical

In [ ]:
27. Sort the elements of a tuple.

In [16]:
t = (11,2,3,41,5)
l=list(t)

In [21]:
l.sort()

In [24]:
tuple(l)

(2, 3, 5, 11, 41)

In [ ]:
28. Convert a tuple of integers to a tuple of strings.

In [61]:
t = (12345)
w1=str(t)
w2=tuple(w1)
w2

('1', '2', '3', '4', '5')

In [ ]:
29. Convert a tuple of strings to a tuple of integers.

In [69]:
t1=tuple(map(int,w2))
print(f'the original tuple is {w2}')
print(f'the modified tuple is {t1}')

the original tuple is ('1', '2', '3', '4', '5')
the modified tuple is (1, 2, 3, 4, 5)

In [ ]:
30. Merge two tuples.

In [71]:
t = (1,2,3,3,5)
t1= (44,5,6,7,8)
print(f'the original tuple is {t} and {t1}')
t2=t +t1
print(f'the modified tuple is {t2}')

the original tuple is (1, 2, 3, 3, 5) and (44, 5, 6, 7, 8)
the modified tuple is (1, 2, 3, 3, 5, 44, 5, 6, 7, 8)

In [ ]:
31. Flatten a nested tuple.

In [91]:
import itertools as tr
t=((1,2,3,3),(125,567,77),(45,56,78))
t2=tuple(tr.chain.from_iterable(t))
print(f'the nested tuple is{t}')
print(f'the flatten tuple is {t2} ')

the nested tuple is((1, 2, 3, 3), (125, 567, 77), (45, 56, 78))
the flatten tuple is (1, 2, 3, 3, 125, 567, 77, 45, 56, 78)

In [ ]:
32. Create a tuple of the first 5 prime numbers.

In [102]:
t = (1,2,3,4,5)
t3=tuple(filter(lambda x :  x%2!=0 ,t ))
print(f'tuple of the first 5 prime numbers is{t3}')

tuple of the first 5 prime numbers is(1, 3, 5)

In [ ]:
33. Check if a tuple is a palindrome.

In [109]:
t = ('mom')
if t[0:20]==t[::-1]:
    print(f'tuple is palindrome')
else:
    print(f'tuple is not palindrome')

tuple is palindrome

In [ ]:
34. Create a tuple of squares of numbers from 1 to 5.

In [111]:
t = (1,2,3,4,5)
t3=tuple(map(lambda x : x**2 ,t))
print(f'the square of 1 to 5 of tuple is {t3}')

the square of 1 to 5 of tuple is (1, 4, 9, 16, 25)

In [ ]:
35. Filter out all even numbers from a tuple.

In [115]:
t =(2,3,4,5,6,78,8,9,67,676,75,65,64,4)
t3=tuple(filter(lambda x : x%2==0,t))
print(f'All even numbers from a tuple{t3}')

All even numbers from a tuple(2, 4, 6, 78, 8, 676, 64, 4)

In [ ]:
36. Multiply all elements in a tuple by 2.

In [116]:
t =(2,3,4,5,6,78,8,9,67,676,75,65,64,4)
t2=tuple(map(lambda x: x*2 ,t)) 
print(f'all elements in a tuple by 2{t2}')

all elements in a tuple by 2(4, 6, 8, 10, 12, 156, 16, 18, 134, 1352, 150, 130, 128, 8)

In [ ]:
37. Create a tuple of random numbers.

In [131]:
import numpy as np
import random 
t=np.random.randint(0,10,size = 6)
t4=tuple(t)
print(f'tuple of random numbers is {t4}')

tuple of random numbers is (4, 0, 6, 9, 5, 2)

In [ ]:
39. Rotate a tuple to the left by 4 positions.

In [157]:
t = (2,3,4,5,67,8)
t3=t[:4]+t[4:]
t3

(2, 3, 4, 5, 67, 8)

In [ ]:
40. Rotate a tuple to the right by 4 positions.

In [158]:
t

(2, 3, 4, 5, 67, 8)

In [160]:
t3=t[4:]+t[:4]
t3

(67, 8, 2, 3, 4, 5)

In [ ]:
41. Create a tuple of the first 5 Fibonacci numbers.

In [204]:
t = ()
a = 0
b = 1
for i in range(5):
    a,b=a+b,a
    t+=(b,)
print(t)

(0, 1, 1, 2, 3)

In [ ]:
42. Create a tuple from user input.

In [206]:
t2=tuple(input('enter the tuple'))
t2

enter the tuple 1233454

('1', '2', '3', '3', '4', '5', '4')

In [ ]:
43. Swap two elements in a tuple.

In [36]:
t = (1,2,3,45,6)
t2=list(t)
t2[1],t2[2]=t2[2],t2[1]
tuple(t2)

(1, 3, 2, 45, 6)

In [ ]:
44. Reverse the elements of a tuple.

In [38]:
t

(1, 2, 3, 45, 5)

In [39]:
t[::-1]

(5, 45, 3, 2, 1)

In [ ]:
45. Create a tuple of the first `n` powers of 2.

In [52]:
t =(1,2,3,4,5,6)
tuple(map(lambda x : x**2 ,t))

(1, 4, 9, 16, 25, 36)

In [ ]:
46. Find the longest string in a tuple of strings.

In [47]:
t = ("my", 'name','is' ,'avichal','saxena 123')

In [48]:
max(t,key=(len))

'saxena 123'

In [ ]:
47. Find the shortest string in a tuple of strings.

In [49]:
t

('my', 'name', 'is', 'avichal', 'saxena 123')

In [50]:
min(t,key=len)

'my'

In [ ]:
48. Create a tuple of the first n triangular numbers.

In [85]:
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [ ]:
49. Check if a tuple contains another tuple as a subsequence.

In [86]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [ ]:
50. Create a tuple of alternating 1s and 0s of length n.

In [87]:
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)